@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #31343d;
}

li,
a,
button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #e0d5d5;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 13%;
  background: #272b2f;
}

.logo {
  cursor: pointer;
  color: #32a2b6;
  font-weight: bolder;
  padding-right: 20vh;
  background: #272b2f;
}

.nav_links {
  list-style: none;
  background: #272b2f;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  font-weight: 550;
  background: #272b2f;
}

.nav_links li a:hover {
  color: #cba726;
}

button {
  padding: 7px 45px;
  background-color: #cba726;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-weight: 550;
}

button:hover {
  background-color: #d3a722;
}

.login,
li {
  list-style: none !important;
  font-weight: 550;
  padding-left: 80px;
  padding-right: 0px;
  background: #272b2f;
}

li,
a:hover {
  color: #cba726;
}

section p {
  width: 20%;
  height: 50vh;
  position: relative;
  left: 40%;
  top: 50px;
  background-color: white;
  font-weight: 600;
  font-size: 40px;
  color: /*#e0d5d5*/ black;
  letter-spacing: 1px;
  position: ;
}

.hire-btn {
  position: relative;
  left: 44%;
}
